/* Stile globale già presente */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background:url("sfondo1.svg");
    background-size: cover;
    background-position: center;
}

.header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    padding: 20px 100px;
    background:transparent;
    backdrop-filter: blur(3px);
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-bottom: 2px solid #285f4e;
}

/* Logo e navbar */
.logo{
    width: 100px;
    height: 60px;
    background: url("logo.png");
    background-size: cover;
    background-position: center;
}

.navbar a{
    position: relative;
    font-size: 18px;
    color: white;
    font-weight: 500;
    text-decoration:none;
    margin-left: 30px;
}

.navbar a::before{
    content: '';
    position: absolute;
    top:100%;
    left:0;
    width: 0;
    height: 2px;
    background: white;
    transition: .3s;
}

.navbar a:hover:before{
    width: 100%;
}
.slider {
  width: 60%;
    height: 400px;
    background: transparent;
    position: relative;
    top: 200px;
    left: 15%;
    background-image: url("pattern2.jpg");
    background-size: cover;
    display: grid;
    border: 2px solid #285f4e;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    grid-template-columns: 1fr 1fr 1fr; /* 3 colonne uguali */
    gap: 20px;
    padding: 10px;
}

.slider > div {

    backdrop-filter: blur(10px);
    background-size: cover;
    border: 1px solid black;
    font-size: 20px;
    text-align: center;
    display: flex;               /* <-- attivo flex */
    flex-direction: column;      /* contenuti in colonna */
    justify-content: space-between; /* spinge testo in alto e bottone in basso */
    padding: 20px;
    border-radius: 5px;
    
}

.slider > div > p {
    margin: 0;
    color: white;
    font-weight: bold;
    text-shadow:5px 5px 5px black;
}
.slider > div > input {
    background: white;
    border: none;
    height: 50px;
    border-radius: 4px;
    margin-top: auto; /* in caso di overflow tiene l'input in basso */
}

.slider > div > input:hover{
    background-color: #5dc2f5;
    transition: 0.4s;
    color: whitesmoke;
    border: 1px solid black;
    font-weight: bolder;
}
/*Responsive*/
/* Media query per smartphone (max-width: 600px) */
@media screen and (max-width: 600px) {
  
  .header {
    padding: 15px 20px;        /* riduce padding laterale */
    flex-direction: column;    /* logo sopra navbar */
    align-items: flex-start;   /* allinea a sinistra */
  }

  .logo {
    width: 80px;               /* logo più piccolo */
    height: 50px;
    margin-bottom: 10px;       /* spazio tra logo e navbar */
  }

  .navbar {
    width: 100%;               /* navbar occupa tutta la larghezza */
    display: flex;
    flex-direction: column;    /* link impilati */
  }

  .navbar a {
    margin: 5px 0;             /* margine tra i link */
    font-size: 16px;           /* testo leggermente più piccolo */
  }

}
